
> create table if not exists public.countries (
    id bigint generated by default as identity primary key,
    
    -- Country identification
    country_code text not null unique,
    iso3_code text not null unique,
    name_en text not null,
    name_ar text,
    nationality_en text not null,
    nationality_ar text,
    phone_code text,
    default_currency_code text,
    
    -- Classification flags
    is_gcc boolean not null default false,
    is_uae boolean not null default false,
    
    -- Status and governance
    is_system boolean not null default false,
    is_locked boolean not null default false,
    is_active boolean not null default true,
    sort_order integer not null default 0,
    
    -- Audit fields
    created_at timestamptz not null default now(),
    created_by bigint,
    updated_at timestamptz not null default now(),
    updated_by bigint,
    deactivated_at timestamptz,
    deactivated_by bigint,
    deactivation_reason text,
    
    -- Constraints
    check (country_code = upper(country_code)),
    check (country_code ~ '^[A-Z]{2}$'),
    check (iso3_code = upper(iso3_code)),
    check (iso3_code ~ '^[A-Z]{3}$'),
    check (
      (is_active = true and deactivated_at is null) or
      (is_active = false and deactivated_at is not null)
    )
  );
  
  -- Comments
  comment on table public.countries is 'Master data for countries with ISO codes, GCC/UAE classification';
  comment on column public.countries.country_code is 'ISO 3166-1 alpha-2 code (2 letters, e.g., AE, SA)';
  comment on column public.countries.iso3_code is 'ISO 3166-1 alpha-3 code (3 letters, e.g., ARE, SAU)';
  comment on column public.countries.is_gcc is 'True if country is a GCC member (UAE, SA, KW, QA, BH, OM)';
  comment on column public.countries.is_uae is 'True if country is UAE (should be unique)';
  
  -- Indexes
  create index if not exists idx_countries_code on public.countries(country_code);
  create index if not exists idx_countries_iso3 on public.countries(iso3_code);
  create index if not exists idx_countries_gcc on public.countries(is_gcc) where is_gcc = true;
  create index if not exists idx_countries_uae on public.countries(is_uae) where is_uae = true;
  create index if not exists idx_countries_active on public.countries(is_active);
  create index if not exists idx_countries_sort on public.countries(sort_order);
  
  -- Trigger for updated_at
  create trigger trigger_countries_updated_at
    before update on public.countries
    for each row
    execute function public.set_updated_at();
  
  -- ============================================================================
  -- TABLE: emirates
  -- ============================================================================
  
> create table if not exists public.emirates (
    id bigint generated by default as identity primary key,
    
    -- Emirate identification
    emirate_code text not null unique,
    name_en text not null unique,
    name_ar text unique,
    abbreviation_en text not null,
    abbreviation_ar text,
    
    -- Status and governance
    is_system boolean not null default false,
    is_locked boolean not null default false,
    is_active boolean not null default true,
    sort_order integer not null default 0,
    
    -- Audit fields
    created_at timestamptz not null default now(),
    created_by bigint,
    updated_at timestamptz not null default now(),
    updated_by bigint,
    deactivated_at timestamptz,
    deactivated_by bigint,
    deactivation_reason text,
    
    -- Constraints
    check (emirate_code = upper(emirate_code)),
    check (emirate_code ~ '^[A-Z]{3}$'),
    check (
      (is_active = true and deactivated_at is null) or
      (is_active = false and deactivated_at is not null)
    )
  );
  
  -- Comments
  comment on table public.emirates is 'UAE Emirates (7 emirates)';
  comment on column public.emirates.emirate_code is '3-letter uppercase code (e.g., AUH, DXB, SHJ)';
  
  -- Indexes
  create index if not exists idx_emirates_code on public.emirates(emirate_code);
  create index if not exists idx_emirates_active on public.emirates(is_active);
  create index if not exists idx_emirates_sort on public.emirates(sort_order);
  
  -- Trigger for updated_at
  create trigger trigger_emirates_updated_at
    before update on public.emirates
    for each row
    execute function public.set_updated_at();
  
  -- ============================================================================
  -- TABLE: cities
  -- ============================================================================
  
> create table if not exists public.cities (
    id bigint generated by default as identity primary key,
    
    -- City identification
    city_code text not null unique,
    name_en text not null,
    name_ar text,
    
    -- Parent relationship
    emirate_id bigint not null references public.emirates(id) on delete restrict,
    
    -- Status and governance
    is_system boolean not null default false,
    is_locked boolean not null default false,
    is_active boolean not null default true,
    sort_order integer not null default 0,
    
    -- Audit fields
    created_at timestamptz not null default now(),
    created_by bigint,
    updated_at timestamptz not null default now(),
    updated_by bigint,
    deactivated_at timestamptz,
    deactivated_by bigint,
    deactivation_reason text,
    
    -- Constraints
    check (city_code = upper(city_code)),
    check (city_code ~ '^[A-Z0-9_]+$'),
    check (
      (is_active = true and deactivated_at is null) or
      (is_active = false and deactivated_at is not null)
    )
  );
  
  -- Comments
  comment on table public.cities is 'Cities and municipalities within UAE emirates';
  comment on column public.cities.city_code is 'Unique uppercase code for city (e.g., AUH_CITY, ALAIN)';
  
  -- Indexes
  create index if not exists idx_cities_code on public.cities(city_code);
  create index if not exists idx_cities_emirate on public.cities(emirate_id);
  create index if not exists idx_cities_active on public.cities(is_active);
  create index if not exists idx_cities_sort on public.cities(sort_order);
  
  -- Trigger for updated_at
  create trigger trigger_cities_updated_at
    before update on public.cities
    for each row
    execute function public.set_updated_at();
  
  -- ============================================================================
  -- TABLE: areas_zones
  -- ============================================================================
  
> create table if not exists public.areas_zones (
    id bigint generated by default as identity primary key,
    
    -- Area/Zone identification
    area_code text not null unique,
    name_en text not null,
    name_ar text,
    
    -- Parent relationships
    city_id bigint not null references public.cities(id) on delete restrict,
    
    -- Area type (lookup reference)
    area_type_code text,
    
    -- Status and governance
    is_system boolean not null default false,
    is_locked boolean not null default false,
    is_active boolean not null default true,
    sort_order integer not null default 0,
    
    -- Audit fields
    created_at timestamptz not null default now(),
    created_by bigint,
    updated_at timestamptz not null default now(),
    updated_by bigint,
    deactivated_at timestamptz,
    deactivated_by bigint,
    deactivation_reason text,
    
    -- Constraints
    check (area_code = upper(area_code)),
    check (area_code ~ '^[A-Z0-9_]+$'),
    check (
      (is_active = true and deactivated_at is null) or
      (is_active = false and deactivated_at is not null)
    )
  );
  
  -- Comments
  comment on table public.areas_zones is 'Areas, zones, districts, and industrial areas within cities';
  comment on column public.areas_zones.area_code is 'Unique uppercase code for area (e.g., MUSAFFAH, KHALIFA_CITY)';
  comment on column public.areas_zones.area_type_code is 'Optional reference to AREA_TYPES lookup (RESIDENTIAL, 
COMMERCIAL, INDUSTRIAL, etc.)';
  
  -- Indexes
  create index if not exists idx_areas_zones_code on public.areas_zones(area_code);
  create index if not exists idx_areas_zones_city on public.areas_zones(city_id);
  create index if not exists idx_areas_zones_type on public.areas_zones(area_type_code) where area_type_code is not 
null;
  create index if not exists idx_areas_zones_active on public.areas_zones(is_active);
  create index if not exists idx_areas_zones_sort on public.areas_zones(sort_order);
  
  -- Trigger for updated_at
  create trigger trigger_areas_zones_updated_at
    before update on public.areas_zones
    for each row
    execute function public.set_updated_at();
  
  -- ============================================================================
  -- TABLE: ports
  -- ============================================================================
  
> create table if not exists public.ports (
    id bigint generated by default as identity primary key,
    
    -- Port identification
    port_code text not null unique,
    name_en text not null,
    name_ar text,
    
    -- Parent relationship
    emirate_id bigint not null references public.emirates(id) on delete restrict,
    
    -- Port type (lookup reference)
    port_type_code text not null,
    
    -- Optional ICAO/IATA codes for airports
    icao_code text,
    iata_code text,
    
    -- Status and governance
    is_system boolean not null default false,
    is_locked boolean not null default false,
    is_active boolean not null default true,
    sort_order integer not null default 0,
    
    -- Audit fields
    created_at timestamptz not null default now(),
    created_by bigint,
    updated_at timestamptz not null default now(),
    updated_by bigint,
    deactivated_at timestamptz,
    deactivated_by bigint,
    deactivation_reason text,
    
    -- Constraints
    check (port_code = upper(port_code)),
    check (port_code ~ '^[A-Z0-9_]+$'),
    check (icao_code is null or icao_code = upper(icao_code)),
    check (iata_code is null or iata_code = upper(iata_code)),
    check (
      (is_active = true and deactivated_at is null) or
      (is_active = false and deactivated_at is not null)
    )
  );
  
  -- Comments
  comment on table public.ports is 'Ports (maritime, air, land border) within UAE';
  comment on column public.ports.port_code is 'Unique uppercase code for port (e.g., JEBEL_ALI, DXB_AIRPORT)';
  comment on column public.ports.port_type_code is 'Reference to PORT_TYPES lookup (MARITIME, AIR, LAND_BORDER)';
  comment on column public.ports.icao_code is '4-letter ICAO code for airports (e.g., OMDB)';
  comment on column public.ports.iata_code is '3-letter IATA code for airports (e.g., DXB)';
  
  -- Indexes
  create index if not exists idx_ports_code on public.ports(port_code);
  create index if not exists idx_ports_emirate on public.ports(emirate_id);
  create index if not exists idx_ports_type on public.ports(port_type_code);
  create index if not exists idx_ports_icao on public.ports(icao_code) where icao_code is not null;
  create index if not exists idx_ports_iata on public.ports(iata_code) where iata_code is not null;
  create index if not exists idx_ports_active on public.ports(is_active);
  create index if not exists idx_ports_sort on public.ports(sort_order);
  
  -- Trigger for updated_at
  create trigger trigger_ports_updated_at
    before update on public.ports
    for each row
    execute function public.set_updated_at();
  
  -- ============================================================================
  -- PERMISSIONS: master_data.geography.*
  -- ============================================================================
  
  insert into public.permissions (permission_code, permission_name, module_code, action_code, description, is_active)
  values
    ('master_data.geography.view', 'View Geography & Locations', 'master_data', 'view', 'View countries, emirates, 
cities, areas, ports', true),
    ('master_data.geography.manage', 'Manage Geography & Locations', 'master_data', 'manage', 'Create, update, 
deactivate geography and location master data', true)
  on conflict (permission_code) do nothing;
  
  -- Assign permissions to system_admin role
  do $$
  declare
    v_role_id bigint;
  begin
    select id into v_role_id from public.roles where role_code = 'system_admin' limit 1;
    if v_role_id is not null then
      insert into public.role_permissions (role_id, permission_id)
      select v_role_id, id from public.permissions where permission_code in (
        'master_data.geography.view',
        'master_data.geography.manage'
      )
      on conflict (role_id, permission_id) do nothing;
    end if;
  end $$;
  
  -- ============================================================================
  -- RLS POLICIES
  -- ============================================================================
  
  alter table public.countries enable row level security;
  alter table public.emirates enable row level security;
  alter table public.cities enable row level security;
  alter table public.areas_zones enable row level security;
  alter table public.ports enable row level security;
  
  -- COUNTRIES policies
  create policy select_countries_authenticated
    on public.countries
    for select
    using (
      is_active = true
      or public.current_user_has_permission('master_data.geography.view')
    );
  
  create policy insert_countries
    on public.countries
    for insert
    with check (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy update_countries
    on public.countries
    for update
    using (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy delete_countries
    on public.countries
    for delete
    using (
      not is_system
      and not is_locked
      and public.current_user_has_permission('master_data.geography.manage')
    );
  
  -- EMIRATES policies
  create policy select_emirates_authenticated
    on public.emirates
    for select
    using (
      is_active = true
      or public.current_user_has_permission('master_data.geography.view')
    );
  
  create policy insert_emirates
    on public.emirates
    for insert
    with check (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy update_emirates
    on public.emirates
    for update
    using (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy delete_emirates
    on public.emirates
    for delete
    using (
      not is_system
      and not is_locked
      and public.current_user_has_permission('master_data.geography.manage')
    );
  
  -- CITIES policies
  create policy select_cities_authenticated
    on public.cities
    for select
    using (
      is_active = true
      or public.current_user_has_permission('master_data.geography.view')
    );
  
  create policy insert_cities
    on public.cities
    for insert
    with check (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy update_cities
    on public.cities
    for update
    using (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy delete_cities
    on public.cities
    for delete
    using (
      not is_system
      and not is_locked
      and public.current_user_has_permission('master_data.geography.manage')
    );
  
  -- AREAS_ZONES policies
  create policy select_areas_zones_authenticated
    on public.areas_zones
    for select
    using (
      is_active = true
      or public.current_user_has_permission('master_data.geography.view')
    );
  
  create policy insert_areas_zones
    on public.areas_zones
    for insert
    with check (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy update_areas_zones
    on public.areas_zones
    for update
    using (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy delete_areas_zones
    on public.areas_zones
    for delete
    using (
      not is_system
      and not is_locked
      and public.current_user_has_permission('master_data.geography.manage')
    );
  
  -- PORTS policies
  create policy select_ports_authenticated
    on public.ports
    for select
    using (
      is_active = true
      or public.current_user_has_permission('master_data.geography.view')
    );
  
  create policy insert_ports
    on public.ports
    for insert
    with check (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy update_ports
    on public.ports
    for update
    using (public.current_user_has_permission('master_data.geography.manage'));
  
  create policy delete_ports
    on public.ports
    for delete
    using (
      not is_system
      and not is_locked
      and public.current_user_has_permission('master_data.geography.manage')
    );
  
  -- ============================================================================
  -- SEED DATA: GCC Countries
  -- ============================================================================
  
  do $$
  declare
    v_user_id bigint;
  begin
    -- Get current user profile ID for audit
    select id into v_user_id from public.user_profiles where auth_user_id = auth.uid() limit 1;
  
    -- Insert GCC countries
  
    -- Insert other common countries
  
  end $$;
  
  -- ============================================================================
  -- SEED DATA: UAE Emirates
  -- ============================================================================
  
  do $$
  declare
    v_user_id bigint;
  begin
    -- Get current user profile ID for audit
    select id into v_user_id from public.user_profiles where auth_user_id = auth.uid() limit 1;
  
    -- Insert 7 UAE emirates


